<nav>
    <ul>
        <li id = 'home'><a href = '/'>home</a></li>
        <li id = 'title'>it's probably raining...</li>
        <li id = 'weatherRequest'><a href = '/weather'>what's the weather in...</a></li>
    </ul>
</nav>