<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&family=Special+Elite&family=Rajdhani:wght@300&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>It's probably raining...</title>
    <link rel = "stylesheet" type = "text/css" href = "main.css">
</head>
<body>
    <div class = "wrapper">
        {{>navbar}}
        {{{body}}}
    </div>

</body>
</html>