<h1>Weather request</h1>

<form action = "/weather" method = "POST">
    <label for = "city">city: </label>
    <input type = "text" name = "city">
    <label for = "code">country code:  </label>
    <input type = "text" name = "code">
    <input type = "submit" value = "submit">
</form>

<br>

{{#if err}}
    <h2>{{err}}</h2>
{{/if}}

{{#if listExists}}
    <h2>Today's weather in {{name}}: </h2>
    <ul>
        {{#each data}}
            <li>{{@key}} : {{this}}</li>
        {{/each}}
    </ul>
{{/if}}